body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #464646;
}

.container{
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

h1, h2, h3{
    margin: 0 0 20px;
}

button{
    padding: 10px 18px;
    border: none;
    background-color: #f5f5f5;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background-color: #bcbeda;
    color: rgb(0, 0, 0);
}